.container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 640px;
  height: 640px;
  background-color: black;
}

.row {
  display: flex;
  flex: 1 1 auto;
  gap: 1px;
  justify-content: stretch;
}

.col {
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;
  background-color: rgb(177, 177, 177);
}